<h2>Home</h2>

<div id="vue-root" v-cloak>
    <h2>{{ header }}</h2>
    <current-time></current-time>
</div>


<p>
    首先通过命令生成文件：webpack --config webpack.config.js
</p>

<script src="~/dist/commons.js"></script>
<script src="~/dist/home.js"></script>