<h2>Home</h2>

<div id="vue-root" v-cloak>
    <h2>{{ header }}</h2>
    <current-time></current-time>
</div>


<p>
    确保安装了node与npm，
    在目录下执行 npm run watch 命令，可以编辑后自动刷新
</p>

<script src="~/dist/commons.js"></script>
<script src="~/dist/home.js"></script>